.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Tambahkan margin-bottom agar form dan list terlihat terpisah */
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%; /* Biarkan input memenuhi lebar container */
    height: 40px;
    font-size: 18px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

li span {
    font-size: 18px;
    flex-grow: 1;
    margin-right: 10px;
}

li button {
    font-size: 16px;
    cursor: pointer;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
}

li button.edit-btn {
    background-color: #28a745;
    margin-right: 5px;
    font-size: 16px;
}
